/*!
Theme Name: Panhandle Performance
Theme URI: http://brycehewett.com
Author: Bryce Hewett
Version: 1.0
Author URI: http://brycehewett.com
*/

$total-columns: 12;
$column-width: 30px;
$gutter-width: 30px;
$grid-padding: 15px;

$dark-gray: #232323;
$gray: #262626;
$med-gray: #626262;
$light-gray: #9a9a9a;
$rly-light-gray: #e4e4e4;
$almost-white: #f2f2f2;
$pink: #f4d7df;
$green: #45d887;
$white: #ffffff;
$blue: #5fa8e1;
$yellow: #fdc95e;
$red: #FF0026;
$orange: #ffba00;

$primary: $blue;
$secondary: $yellow;

$phone: max-width 426px;
$tablet: max-width 768px;
$laptop: max-width 1050px;
$large: 1051px;

$phone-to-tablet: $phone $tablet;

// Primary color for buttons (alt)
$primarytext: desaturate(lighten($primary, 50%), 18%);

// Text on primary color bg

$secondary: desaturate(lighten($primary, 40%), 21%);

// Secondary buttons
$secondarytext: desaturate(darken($secondary, 60%), 21%);

// Text on secondary color bg

$highlight: $green;

// Prices, In stock labels, sales flash
$highlightext: desaturate(lighten($highlight, 50%), 18%);

// Text on highlight color bg

$contentbg: #fff;

// Content BG - Tabs (active state)
$subtext: #777;

// small, breadcrumbs etc

$ionicons-font-path: "libs/Ionicons/fonts";

$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 2/4, // The size of a gutter in relation to a single column
);

@import "susy";
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "normalize";

@import "mixins/woocommerce-mixins";
@import "mixins/_rem";
@import "includes/_wordpress-reset";

@import "../../libs/Ionicons/scss/ionicons-variables";
@import "../../libs/Ionicons/scss/ionicons-font";
@import "../../libs/Ionicons/scss/ionicons-icons";
@import "includes/_fonts";
@import "includes/_typography";
@import "includes/_animation";
@import "includes/_links-buttons";
@import "includes/_layout";
@import "includes/_forms";

@import "includes/_navigation";
@media (max-width: 1050px) {
  @import "includes/_responsive-nav";
}
@import "includes/_breadcrumbs";
@import "includes/_posts";
@import "includes/_pages";
@import "includes/_sidebar";

@import "includes/_home";
@import "includes/_contact";
@import "includes/_footer";
@import "includes/_woocommerce";

@import "includes/_ie-fixes";
