.page-template-template-contact-php
  .page-feature-image
    height: 300px
    background: #ffffff url(images/ring-alt.svg) center no-repeat

#map_canvas
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
