#footer
  background: $dark-gray
  border-top: 7px solid $blue
  padding-top: 50px

  .copyright
    width: 100%
    color: lighten($gray, 40%)
    text-align: center
    padding-top: 50px
    padding-bottom: 20px
    display: block
    +rem('font-size', 13px)

  .footer-logo
    background: url(images/gray-logo.png) no-repeat
    background-size: contain
    display: inline-block
    width: 80%
    max-width: 196px
    height: auto

.footer-logo-column
  @include breakpoint($phone)
    @include span(12 of 12)
    text-align: center

.footer-nav
  display: block
  margin: 0

  @include breakpoint($phone)
    display: none



.menu-column
  @extend .one-fourth-column
  list-style-type: none
  +rem('font-size', 14px)

  &:last-of-type
    @extend .last

  a
    color: lighten($gray, 40%)
    font-weight: bold

    &:hover
      text-decoration: none

  .sub-menu
    display: block
    list-style-type: none
    margin: 0
    line-height: 140%
    position: relative

    a
      font-weight: normal
