input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea
  @extend %default-border-radius
  +rem('font-size', 16px)
  width: 100%
  border: 1px solid lighten($gray, 60%)
  padding: 8px

  &:focus
    border: 1px solid $blue
    box-shadow: inset 1px 1px 8px rgba(0,0,0, .2)

input[type="submit"]
  @extend .primary-button
  @extend .medium-button

select
  @extend .secondary-button
  font-size: inherit
  overflow: hidden
  padding: 5px 10px
  text-overflow: ellipsis
  white-space: nowrap

// .select2-container--default
//   height: auto
//
// .select2-selection
//   padding: 10px

fieldset
  margin: 30px 0
  padding: 0
  border: none

  legend
    font-weight: bold


.wpcf7
  .message
    width: 100%

  .wpcf7-not-valid
    border: 1px solid $red

  .wpcf7-not-valid-tip
    padding: 3px 15px
    width: 200px
    text-align: center
    left: 0
    top: -30px
    border-radius: 2px
    box-shadow: 1px 1px 3px rgba(0,0,0, .2)

    &:after
      content: ''
      width: 0
      height: 0
      border-left: 8px solid transparent
      border-right: 8px solid transparent
      border-top: 8px solid $red
      position: absolute
      left: 50%
      bottom: -8px
      margin-left: -4px

  .wpcf7-validation-errors
    border: none
    background: $yellow

  .wpcf7-mail-sent-ok
    border: none
    color: $white
    background: $green

  .wpcf7-response-output
    margin: 10px 1%
    padding: 15px
    width: 98%
    text-align: center

#search
  margin-bottom: 25px
  +rem('font-size', 12px)
