.primary-promo
  width: 100%
  border-bottom: 7px solid $blue
  position: relative
  background: center no-repeat

  background-size: cover

  .container
    display: flex

.header-foreground-image
  width: 39%
  height: 100%
  position: absolute
  left: 20px
  bottom: 0
  background: bottom no-repeat
  background-size: contain

  @include breakpoint($phone)
    display: none

.promo-text
  @include span(7 of 12)
  @include push(5 of 12)
  text-align: right
  padding-bottom: 70px
  padding-top: 100px
  color: white

  @include breakpoint($tablet)
    @include span(9 of 12)
    @include push(3 of 12)
    padding-bottom: 70px
    padding-top: 70px

  @include breakpoint($phone)
    @include span(12 of 12)
    @include push(0 of 12)
    padding-bottom: 35px
    padding-top: 35px

  h1
    +rem('font-size', 60px)
    text-transform: uppercase
    text-shadow: 3px 3px 0 rgba(0,0,0, .2)

.secondary-promo
  z-index: 3
  position: relative

.promo-images
  z-index: 3
  position: relative
  background: $dark-gray

  @include breakpoint($phone)
    display: none

  .image-wrapper
    padding: 0

    img
      display: block

.promo-descriptions
  width: 100%
  position: relative
  background: $blue
  z-index: 4
  color: white
  display: flex

  .superlink
    padding: 30px 15px
    @extend %default-animate

    &:hover
      background: darken($blue, 10%)
      @extend %default-animate
  h2
    +rem('font-size', 32px)

  p
    +rem('font-size', 13px)
    line-height: 140%
    margin-bottom: 5px

  a
    +rem('font-size', 14px)
    font-weight: bold
    color: white

.promo-descriptions-container
  @extend .container
  display: flex

  @include breakpoint($phone)
    display: block
