%default-border-radius
  border-radius: 3px

%border-top-radius
  border-radius: 3px 3px 0 0

%border-bottom-radius
  border-radius: 0 0 3px 3px

%default-animate
  transition: all .3s ease-in-out

*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  overflow-x: hidden

body
  background: $almost-white url(images/bg.png) repeat
  overflow-x: hidden

.container
  @include container
  max-width: 1170px
  padding: 0 20px
  margin: 0 auto
  position: relative

  @include breakpoint($phone)
    padding: 0 10px


.one-fourth-column
  @include span(3 of 12)
  @include breakpoint($phone)
    @include span(12 of 12)

.three-fourth-column
  @include span(9 of 12)
  @include breakpoint($phone)
    @include span(12 of 12)


.one-half-column
  @include span(6 of 12)
  @include breakpoint($phone)
    @include span(12 of 12)


.one-third-column
  @include span(4 of 12)
  @include breakpoint($phone)
    @include span(12 of 12)


.two-third-column
  @include span(8 of 12)
  @include breakpoint($phone)
    @include span(12 of 12)


.first
  @include first

.last
  @include last

.site-wrapper
  padding-top: 107px
  left: 0
  width: 100%
  position: relative
  transition: all 0.3s ease-in-out

.admin-bar
  #site-wrapper
    padding-top: 90px

.content
  min-height: calc(100vh - 550px)

.card
  position: relative
  background: white
  border: 1px solid $rly-light-gray
  border-radius: 5px

#main-column
  min-height: 600px
  padding: 40px 0

#sidebar
  padding: 30px 0

  @include breakpoint($phone)
    display: none


.jquery-lightbox-move,
.jquery-lightbox-move *
  box-sizing: content-box
  transition: none !important
