a
  display: inline-block
  color: $blue
  text-decoration: none
  @extend %default-animate

  &:hover
    text-decoration: underline
    @extend %default-animate

.superlink
  cursor: pointer

%button-shadows-hover
  box-shadow: inset 1px 1px 3px rgba(0,0,0, .1)

%button-shadows
  box-shadow: inset 1px 1px 0 rgba(255,255,255, .3), 1px 1px 2px rgba(0,0,0, .1)



.large-button
  +rem('font-size', 18px)
  padding: 15px 20px
  text-transform: uppercase
  color: $gray
  font-weight: bold
  margin: 7px
  box-shadow: 0 0 0 7px rgba(0,0,0, .2), inset 1px 1px 0 rgba(255,255,255,.3)

  &:hover
    padding: 16px 20px 14px 20px
    box-shadow: 0 0 0 7px rgba(0,0,0, .2), inset 1px 1px 4px rgba(0,0,0,.3)


.medium-button
  +rem('font-size', 14px)
  padding: 10px 25px
  color: $gray
  font-weight: bold


  &:hover
    padding: 10px 25px

.primary-button
  border: 1px solid #b39034
  background-color: $yellow
  @extend %default-border-radius
  @extend %button-shadows

  &:hover
    text-decoration: none
    @extend %button-shadows-hover


.secondary-button
  border: 1px solid #cccccc
  background-color: white
  color: $dark-gray
  @extend %button-shadows
  @extend %default-border-radius

  &:hover
    text-decoration: none
    @extend %button-shadows-hover
