.menu-toggle, .responsive-menu
  display: none

.header
  width: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 99999
  background: $dark-gray
  transition: all .3s ease-in-out
  height: 107px

  @include breakpoint($phone)
    height: 65px

.logo
  position: absolute
  background: url(images/logo.png) no-repeat
  background-size: cover
  width: 253px
  height: 83px
  margin-top: 2px
  text-indent: -9999px
  top: 50%
  margin-top: -41px

.top-nav
  position: relative
  @extend .container

.secondary-top-nav
  margin: 0 0 0 290px
  border-top: 1px solid rgba(255,255,255,.1)
  text-align: right

  a
    padding: 10px 20px

    &:hover
      text-decoration: none
      background: rgba(255,255,255, .1)

%active-item
  content: ''
  width: 100%
  height: 4px
  background: $blue
  position: absolute
  bottom: 0
  left: 0

.main-nav
  width: 100%
  padding: 0 0 0 250px
  margin: 0
  text-align: right

  li.current-menu-item
    &:after
      @extend %active-item

  > li
    list-style: none
    text-align: center
    margin: 0
    position: relative
    display: inline-block

    &:last-of-type
      > a
        padding: 25px 0 25px 20px

    > a
      color: white
      font-weight: bold
      text-transform: uppercase
      text-decoration: none
      position: relative
      padding: 25px 20px 25px 20px

      &:after
        font-family: "Ionicons"
        content: '\f125'
        display: inline-block
        margin-left: 10px
        +rem('font-size', 14px)
        opacity: .3

      &:only-child:after
        content: ''
        width: 0
        height: 0
        background: none

      &:hover
        &:before
          @extend %active-item

  .sub-menu
    position: absolute
    background: white
    width: 240px
    margin-left: -120px
    left: 50%
    top: 60px
    list-style-type: none
    z-index: 20
    display: none
    box-shadow: 0 0 10px rgba(0,0,0,.5)
    @extend %default-border-radius

    &:after
      content: ''
      width: 0
      height: 0
      top: -10px
      left: 50%
      margin-left: -10px
      position: absolute
      border-left: 10px solid transparent
      border-right: 10px solid transparent
      border-bottom: 10px solid white

    li.current-menu-item
      &:after
        width: 4px
        height: 100%

    li
      position: relative

      &:hover
        background: $almost-white

      a
        font-weight: normal
        text-transform: none
        color: $blue
        padding: 10px 20px
        width: 100%
        position: relative

        &:hover
          text-decoration: none


.pinned
  height: 87px

  .main-nav
    > li
      > a
        padding: 15px 20px 15px 20px

      &:last-of-type
        > a
          padding: 15px 0 15px 20px

  .sub-menu
    top: 45px

  .logo
    height: 76px
    width: 231px
    margin-top: -38px

.nav-shopping-cart
  color: rgba(255,255,255, .8)

  .shopping-cart-item-count
    color: rgba(255,255,255, .5)
    padding-left: 15px

  .ion-android-cart
    margin-right: 10px

  .ion-chevron-right
    margin-left: 10px
