.page-feature-image
  width: 100%
  position: relative
  min-height: 150px
  padding: 45px 0
  position: relative

  @include breakpoint($phone)
    padding: 25px 10px

  .feature-overlay-text
    position: relative
    color: white
    text-align: left
    text-transform: uppercase
    text-shadow: 3px 3px 0 rgba(0,0,0,0.2)

    h1
      position: absolute
      top: 50%
      transform: translateY(-50%)
      +rem('font-size',60px)

      @include breakpoint($phone)
        margin: 0
        +rem('font-size',42px)
