.post-meta
  +rem('font-size', 14px)
  color: lighten($med-gray, 25%)
  margin: 3px

  a
    color: lighten($med-gray, 10%)

.post-teaser-wrapper
  @extend .card
  @extend %default-border-radius

  .teaser-thumbnail
    overflow: hidden
    @extend %border-top-radius

    a
      overflow: hidden
      width: 100%

    img
      width: 100%
      height: auto

  .teaser-bottom
    height: 36px

  h3
    font-family: "Proxima Nova"
    +rem('font-size', 21px)
    font-weight: bold
    border-bottom: 1px solid $pink
    padding: 10px 20px

  a
    color: $gray

  p
    color: $med-gray
    padding: 10px 20px
    margin: 0
    border-bottom: 1px solid $rly-light-gray

article
  margin-top: 25px
  margin-bottom: 40px
  z-index: 3
  position: relative

  .comment-link
    color: $light-gray
    float: left
    padding: 10px 20px

  .article-link
    color: $gray
    font-weight: bold
    float: right
    padding: 10px 20px
    border-left: 1px solid $rly-light-gray
    border-radius: 0 0 3px 0

    &:hover
      background: $blue
      color: white
      text-decoration: none

.entry-content
  @extend .post-teaser-wrapper
  padding: 30px

  @include breakpoint($phone)
    padding: 15px

  #teaser-image
    border-radius: 3px 3px 0 0
    margin: -30px -30px 30px -30px
    overflow: hidden

    @include breakpoint($phone)
      margin: -15px -15px 15px -15px

    img
      min-width: 100%
      max-width: 100%
      height: auto

  p
    padding: 10px 0
    border-bottom: none


  img
    max-width: 100%
    min-width: auto

  a
    color: $blue

#post-nav
  padding: 20px 0
  overflow: auto

.next-posts
  float: right

.prev-posts
  float: left


#post-author
  background: #f6f6f6
  @extend %default-border-radius
  padding: 25px
  margin-top: 30px
  overflow: auto

  img
    border: 2px solid $rly-light-gray
    @extend %default-border-radius
    margin-right: 20px
    float: left

  p
    margin-top: 8px
    float: left

#share_twitter
  margin-top: 11px
  float: right
  position: relative
  padding-left: 36px

#share_facebook
  @extend #share_twitter
  margin-top: 11px
  margin-right: 10px
