.logo
	height: 62px
	width: 190px
	top: 50%
	margin-top: -31px

.site-wrapper
	padding-top: 65px

.header
	height: 65px

.top-nav
	height: 100%
	top: 0
	left: 0
	transition: all .3s ease-in-out

.secondary-top-nav
	margin: 0
	border: none
	padding: 0
	display: inline-block
	position: absolute
	right: 58px
	top: 0

a.nav-shopping-cart
	padding: 20px 20px 17px 20px

	.ion-android-cart
		margin: 0
		color: white
		+rem('font-size', 24px)

	.shopping-cart-item-count
		display: none

		&.has-items
			display: block
			position: absolute
			padding: 1px 6px
			border-radius: 40px
			background-color: $primary
			color: white
			top: 14px
			left: 9px
			+rem('font-size', 14px)
			font-weight: bold


	.woocommerce-Price-amount,
	.cart-count-text,
	.ion-chevron-right
		display: none

.menu-toggle
	position: absolute
	top: 0
	right: 0
	display: block
	+rem('font-size',24px)
	cursor: pointer
	color: white
	transition: all .1s ease-in-out
	padding: 21px 20px 18px 20px

	&.active
		transition: all .1s ease-in-out
		color: $blue

.main-nav
	display: none

.pushed
	left: -260px
	transition: all .3s ease-in-out

.responsive-menu
	position: fixed
	right: -260px
	top: 0
	display: block
	width: 260px
	background: darken($gray,3%)
	height: 100%
	z-index: 2000
	overflow-y: scroll
	+rem('font-size', 16px)
	transition: all .3s ease-in-out

	.menu-column
		@include span(12 of 12)

	&.active
		right: 0
		transition: all .3s ease-in-out


	.menu-item-has-children
		font-weight: bold
		margin-top: 25px

	ul
		list-style: none
		margin: 0

	li a
		padding: 8px 40px
		color: white
		display: block

		&:hover
			text-decoration: none

	.sub-menu
		li
			font-weight: normal

	.button.red
		background: rgba(255,255,255,.3)
		margin: 10px 40px
		text-align: center
		padding: 8px 0
		box-shadow: 0 0 0
		border: 1px solid white

.pinned
  .logo
    height: 62px
    width: 190px
    margin-top: -31px
