#sidebar
  h1
    +rem('font-size', 38px)

  h2
    +rem('font-size', 32px)

  h3
    +rem('font-size', 26px)

  h4
    +rem('font-size', 18px)

  h5
    +rem('font-size', 16px)

  h6
    +rem('font-size', 16px)

  li, ol
    list-style-type: none
    
  ul
    margin-left: 0


.widget_nav_menu
  .menu-column
    margin: 0 0 20px 0

  li
    margin: 0
    width: 100%
    +rem('font-size', 16px)
    
    a
      color: lighten($gray, 5%)

  .sub-menu

    li
      +rem('font-size', 14px)
    a
      color: $blue

      &:hover
        text-decoration: underline