html
  font-size: 62.5%
  overflow-x: hidden

body
  color: lighten($gray, 5%)
  font-weight: 300
  font-family: "Proxima Nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif
  +rem('font-size', 16px)

strong
  font-weight: bold

h1, h2, h3, h4, h5, h6
  font-family: "League Gothic","Helvetica Neue","Helvetica","Arial",sans-serif
  font-weight: normal

h1
  +rem('font-size', 42px)

h2
  +rem('font-size', 36px)

h3
  +rem('font-size', 28px)

h4
  +rem('font-size', 24px)

h5
  +rem('font-size', 20px)

h6
  +rem('font-size', 18px)

p
  margin-bottom: 15px
  line-height: 160%


ul
  list-style: circle

ol
  list-style: decimal

ol, ul
  margin: 10px 0px 10px 20px

li
  margin: 5px 0

blockquote
  +rem('font-size', 18px)
  color: $med-gray
  font-style: italic
  position: relative
  margin: 10px 25px
  padding-left: 25px
  border-left: 3px solid $rly-light-gray
