/** Global styles
p.demo_store,
.woocommerce-store-notice
  position: absolute
  top: 107px
  left: 0
  right: 0
  margin: 0
  width: 100%
  font-size: 1em
  padding: 5px 25px
  text-align: center
  background-color: $primary
  color: $primarytext
  z-index: 99998
  box-shadow: 0 1px 1em rgba(0, 0, 0, 0.2)
  display: none

  @include breakpoint($laptop)
    top: 65px

  a
    color: $primarytext
    text-decoration: underline

.admin-bar p.demo_store
  top: 32px

/**
/** Utility classes
.clear
  clear: both

.col-1
  @include span(6 of 12)

  @include breakpoint($phone)
    @include span(12 of 12)
    margin-bottom: 15px

.col-2
  @include span(6 of 12 last)

  @include breakpoint($phone)
    @include span(12 of 12)
    margin-bottom: 15px

/**
/** Main WooCommerce styles
.woocommerce
  .blockUI.blockOverlay
    position: relative

    +loader

  .loader
    +loader

  a.remove
    display: block
    font-size: 1.5em
    height: 1em
    width: 1em
    text-align: center
    line-height: 1
    border-radius: 100%
    color: red !important

    // Required for default theme compatibility
    text-decoration: none
    font-weight: 700
    border: 0

    &:hover
      color: #fff !important

      // Required for default theme compatibility
      background: red

  small.note
    display: block
    color: $subtext
    font-size: 0.857em
    margin-top: 10px

  .woocommerce-breadcrumb
    +clearfix

    margin: 0 0 1em
    padding: 0
    font-size: 0.92em
    color: $subtext

    a
      color: $subtext

  .quantity .qty
    width: 3.631em
    text-align: center

  /**
  /** Product Page
  div.product
    @extend .card
    margin: 25px 0
    padding: 25px
    position: relative

    .product_title
      clear: none
      margin-top: 0
      padding: 0

    span.price,
    p.price
      color: $highlight
      font-size: 1.25em

      ins
        background: inherit
        font-weight: 700

      del
        opacity: 0.5

    p.stock
      font-size: 0.92em

    .stock
      color: $highlight

    .out-of-stock
      color: red

    .woocommerce-product-rating
      margin-bottom: 1.618em

    div.images
      @include span(8 of 12)
      margin-bottom: 2em

      @include breakpoint($phone)
        @include span(12 of 12)

      img
        display: block
        width: 100%
        height: auto
        box-shadow: none

      div.thumbnails
        padding-top: 1em

      &.woocommerce-product-gallery
        position: relative

      .woocommerce-product-gallery__wrapper
        transition: all cubic-bezier(0.795, -0.035, 0, 1) 0.5s

      .woocommerce-product-gallery__wrapper .zoomImg
        background-color: #fff

      .woocommerce-product-gallery__image:nth-child(n+2)
        width: 25%
        display: inline-block

      .woocommerce-product-gallery__trigger
        position: absolute
        top: .5em
        right: .5em
        font-size: 2em
        z-index: 9
        width: 36px
        height: 36px
        background: #fff
        text-indent: -9999px
        border-radius: 100%
        box-sizing: content-box

        &:before
          content: ""
          display: block
          width: 10px
          height: 10px
          border: 2px solid #000
          border-radius: 100%
          position: absolute
          top: 9px
          left: 9px
          box-sizing: content-box

        &:after
          content: ""
          display: block
          width: 2px
          height: 8px
          background: #000
          border-radius: 6px
          position: absolute
          top: 19px
          left: 22px
          transform: rotate(-45deg)
          box-sizing: content-box

      .flex-control-thumbs
        overflow: hidden
        zoom: 1
        margin: 0
        padding: 0

        li
          width: 25%
          float: left
          margin: 0
          list-style: none

          img
            cursor: pointer
            opacity: .5
            margin: 0

            &.flex-active,
            &:hover
              opacity: 1

    .woocommerce-product-gallery--columns-3
      .flex-control-thumbs li:nth-child(3n+1)
        clear: left

    .woocommerce-product-gallery--columns-4
      .flex-control-thumbs li:nth-child(4n+1)
        clear: left

    .woocommerce-product-gallery--columns-5
      .flex-control-thumbs li:nth-child(5n+1)
        clear: left

    div.summary
      @include span(4 of 12 last)
      margin-top: 50px
      margin-bottom: 2em

      @include breakpoint($phone)
        @include span(12 of 12)

    div.social
      text-align: right
      margin: 0 0 1em

      span
        margin: 0 0 0 2px

        span
          margin: 0

        .stButton .chicklets
          padding-left: 16px
          width: 0

      iframe
        float: left
        margin-top: 3px

    .woocommerce-tabs
      clear: both

      ul.tabs
        list-style: none
        padding: 0 0 0 1em
        margin: 0 0 1.618em
        overflow: hidden
        position: relative

        li
          border: 1px solid darken($secondary, 10%)
          background-color: $secondary
          display: inline-block
          position: relative
          z-index: 0
          border-radius: 4px 4px 0 0
          margin: 0 -5px
          padding: 0 1em

          a
            display: inline-block
            padding: 0.5em 0
            font-weight: 700
            color: $secondarytext
            text-decoration: none

            &:hover
              text-decoration: none
              color: lighten($secondarytext, 10%)

          &.active
            background: $contentbg
            z-index: 2
            border-bottom-color: $contentbg

            a
              color: inherit
              text-shadow: inherit

            &::before
              box-shadow: 2px 2px 0 $contentbg

            &::after
              box-shadow: -2px 2px 0 $contentbg

          &::before,
          &::after
            border: 1px solid darken($secondary, 10%)
            position: absolute
            bottom: -1px
            width: 5px
            height: 5px
            content: ' '

          &::before
            left: -6px
            border-bottom-right-radius: 4px
            border-width: 0 1px 1px 0
            box-shadow: 2px 2px 0 $secondary

          &::after
            right: -6px
            border-bottom-left-radius: 4px
            border-width: 0 0 1px 1px
            box-shadow: -2px 2px 0 $secondary

        &::before
          position: absolute
          content: ' '
          width: 100%
          bottom: 0
          left: 0
          border-bottom: 1px solid darken($secondary, 10%)
          z-index: 1

      .panel
        margin: 0 0 2em
        padding: 0
        border: none

    p.cart
      margin-bottom: 2em

      +clearfix

    form.cart
      margin-bottom: 2em

      +clearfix

      div.quantity
        float: left
        margin: 0 4px 0 0

      table
        border-width: 0 0 1px

        td
          padding-left: 0

        div.quantity
          float: none
          margin: 0

        small.stock
          display: block
          float: none

      .variations
        margin-bottom: 1em
        border: 0
        width: 100%

        td,
        th
          border: 0
          vertical-align: top
          line-height: 2em

        label
          font-weight: 700

        select
          max-width: 100%
          min-width: 75%
          display: inline-block
          margin-right: 1em

        td.label
          padding-right: 1em

      .woocommerce-variation-description p
        margin-bottom: 1em

      .reset_variations
        visibility: hidden
        font-size: 0.83em

      .wc-no-matching-variations
        display: none

      .button
        vertical-align: middle
        float: left

      .group_table
        td.label
          padding-right: 1em
          padding-left: 1em

        td
          vertical-align: top
          padding-bottom: 0.5em
          border: 0

        td:first-child
          width: 4em
          text-align: center

        .wc-grouped-product-add-to-cart-checkbox
          display: inline-block
          width: auto
          margin: 0 auto
          transform: scale(1.5, 1.5)

  span.onsale
    min-height: 3.236em
    min-width: 3.236em
    font-size: 1em
    font-weight: 700
    position: absolute
    text-align: center
    line-height: 3.236
    top: -0.5em
    left: -0.5em
    margin: 0
    border-radius: 100%
    background-color: $highlight
    color: $highlightext
    font-size: 0.857em
    -webkit-font-smoothing: antialiased
    z-index: 9

  /**
  /** Product loops
  .products ul,
  ul.products
    @extend .card
    margin: 0 0 1em
    padding: 50px
    list-style: none outside
    margin-bottom: 25px
    clear: both
    +clearfix

    @include breakpoint($phone)
      padding: 25px

    li
      @include span(3 of 12)
      margin-bottom: 50px
      list-style: none outside
      position: relative

      &:nth-child(4n)
        @include span(3 of 12 last)

      &:nth-child(4n + 1)
        clear: left

      @include breakpoint($tablet)
        @include span(6 of 12)

        &:nth-child(2n)
          @include span(6 of 12 last)

        &:nth-child(2n + 1)
          clear: left

      @include breakpoint($phone)
        @include span(12 of 12)

        &:nth-child(2n)
          @include span(12 of 12)

  ul.products li.product
    .onsale
      top: 0
      right: 0
      left: auto
      margin: -0.5em -0.5em 0 0

    h3,
    .woocommerce-loop-product__title,
    .woocommerce-loop-category__title
      padding: 0.5em 0
      margin: 0
      +rem('font-size', 20px)
      font-family: 'Proxima Nova'
      font-weight: bold

    a
      text-decoration: none

    a img
      width: 100%
      height: auto
      display: block
      margin: 0 0 1em
      box-shadow: none

    strong
      display: block

    .star-rating
      font-size: 0.857em

    .button
      margin-top: 1em

    .price
      color: $highlight
      display: block
      font-weight: normal
      margin-bottom: 0.5em
      font-size: 0.857em

      del
        color: inherit
        opacity: 0.5
        display: inline-block

      ins
        background: none
        font-weight: 700

      .from
        font-size: 0.67em
        margin: -2px 0 0 0
        text-transform: uppercase
        color: rgba(desaturate($highlight, 75%), 0.5)

  .woocommerce-result-count
    float: left
    margin: 0 0 1em

  .woocommerce-ordering
    float: right
    margin: 0 0 1em

    select
      vertical-align: top

  nav.woocommerce-pagination
    text-align: center
    padding-bottom: 25px

    .page-numbers
      background: white

    ul
      display: inline-block
      white-space: nowrap
      padding: 0
      clear: both
      border: 1px solid darken($secondary, 10%)
      border-right: 0
      margin: 1px

      li
        border-right: 1px solid darken($secondary, 10%)
        padding: 0
        margin: 0
        float: left
        display: inline
        overflow: hidden

        a,
        span
          margin: 0
          text-decoration: none
          padding: 0
          line-height: 1
          font-size: 1em
          font-weight: normal
          padding: 0.5em
          min-width: 1em
          display: block

        span.current,
        a:hover,
        a:focus
          background: $secondary
          color: darken($secondary, 40%)

  /**
  /** Buttons
  a.button,
  button.button,
  input.button,
  #respond input#submit
    @extend .secondary-button
    cursor: pointer
    position: relative
    overflow: visible
    +rem('padding', 8px 20px)
    font-weight: 700
    left: auto
    white-space: nowrap
    display: inline-block

    &.loading
      opacity: 0.25
      padding-right: 2.618em

      &::after
        font-family: 'WooCommerce'
        content: '\e01c'
        vertical-align: top
        -webkit-font-smoothing: antialiased
        font-weight: 400
        position: absolute
        top: 0.618em
        right: 1em
        animation: spin 2s linear infinite

    &.added::after
      font-family: 'WooCommerce'
      content: '\e017'
      margin-left: 0.53em
      vertical-align: bottom

    &.alt
      @extend .primary-button

      &.disabled,
      &:disabled,
      &:disabled[disabled],
      &.disabled:hover,
      &:disabled:hover,
      &:disabled[disabled]:hover
        background-color: $primary
        color: $primarytext

    &:disabled,
    &.disabled,
    &:disabled[disabled]
      color: inherit
      cursor: not-allowed
      opacity: 0.5
      padding: 0.618em 1em

      &:hover
        color: inherit
        background-color: $secondary

  .cart .button,
  .cart input.button
    float: none

  a.added_to_cart
    padding-top: 0.5em
    white-space: nowrap
    display: inline-block

  /**
  /** Reviews
  #reviews
    h2 small
      float: right
      color: $subtext
      font-size: 15px
      margin: 10px 0 0

      a
        text-decoration: none
        color: $subtext

    h3
      margin: 0

    #respond
      margin: 0
      border: 0
      padding: 0

    #comment
      height: 75px

    #comments
      .add_review
        +clearfix

      h2
        clear: none

      ol.commentlist
        +clearfix

        margin: 0
        width: 100%
        background: none
        list-style: none

        li
          padding: 0
          margin: 0 0 20px
          border: 0
          position: relative
          background: 0
          border: 0

          .meta
            color: $subtext
            font-size: 0.75em

          img.avatar
            float: left
            position: absolute
            top: 0
            left: 0
            padding: 3px
            width: 32px
            height: auto
            background: $secondary
            border: 1px solid darken($secondary, 3%)
            margin: 0
            box-shadow: none

          .comment-text
            margin: 0 0 0 50px
            border: 1px solid darken($secondary, 3%)
            border-radius: 4px
            padding: 1em 1em 0

            +clearfix

            p
              margin: 0 0 1em

            p.meta
              font-size: 0.83em

        ul.children
          list-style: none outside
          margin: 20px 0 0 50px

          .star-rating
            display: none

        #respond
          border: 1px solid darken($secondary, 3%)
          border-radius: 4px
          padding: 1em 1em 0
          margin: 20px 0 0 50px

      .commentlist > li::before
        content: ''

  /**
  /** Star ratings
  .star-rating
    float: right
    overflow: hidden
    position: relative
    height: 1em
    line-height: 1
    font-size: 1em
    width: 5.4em
    font-family: 'star'

    &::before
      content: '\73\73\73\73\73'
      color: darken($secondary, 10%)
      float: left
      top: 0
      left: 0
      position: absolute

    span
      overflow: hidden
      float: left
      top: 0
      left: 0
      position: absolute
      padding-top: 1.5em

    span::before
      content: '\53\53\53\53\53'
      top: 0
      position: absolute
      left: 0

  .woocommerce-product-rating
    +clearfix

    line-height: 2
    display: block

    .star-rating
      margin: 0.5em 4px 0 0
      float: left

  .products .star-rating
    display: block
    margin: 0 0 0.5em
    float: none

  .hreview-aggregate .star-rating
    margin: 10px 0 0

  #review_form #respond
    +clearfix

    position: static
    margin: 0
    width: auto
    padding: 0
    background: transparent none
    border: 0

    p
      margin: 0 0 10px

    .form-submit input
      left: auto

    textarea
      box-sizing: border-box
      width: 100%

  p.stars
    a
      position: relative
      height: 1em
      width: 1em
      text-indent: -999em
      display: inline-block
      text-decoration: none

      &::before
        display: block
        position: absolute
        top: 0
        left: 0
        width: 1em
        height: 1em
        line-height: 1
        font-family: 'WooCommerce'
        content: '\e021'
        text-indent: 0

      &:hover ~ a::before
        content: '\e021'

    &:hover a::before
      content: '\e020'

    &.selected
      a.active
        &::before
          content: '\e020'

        ~ a::before
          content: '\e021'

      a:not(.active)::before
        content: '\e020'

  /**
  /** Tables
  table.shop_attributes
    border: 0
    border-top: 1px dotted rgba(0, 0, 0, 0.1)
    margin-bottom: 1.618em
    width: 100%

    th
      width: 150px
      font-weight: 700
      padding: 8px
      border-top: 0
      border-bottom: 1px dotted rgba(0, 0, 0, 0.1)
      margin: 0
      line-height: 1.5

    td
      font-style: italic
      padding: 0
      border-top: 0
      border-bottom: 1px dotted rgba(0, 0, 0, 0.1)
      margin: 0
      line-height: 1.5

      p
        margin: 0
        padding: 8px 0

    tr:nth-child(even) td,
    tr:nth-child(even) th
      background: rgba(0, 0, 0, 0.025)

  table.shop_table
    @extend .card
    border: 1px solid rgba(0, 0, 0, 0.1)
    margin: 0 -1px 24px 0
    text-align: left
    width: 100%
    border-collapse: separate
    border-radius: 5px

    th
      font-weight: 700
      padding: 9px 12px

    td
      border-top: 1px solid rgba(0, 0, 0, 0.1)
      padding: 6px 12px
      vertical-align: middle

      small
        font-weight: normal

    tbody:first-child tr:first-child
      th,
      td
        border-top: 0

    tfoot td,
    tfoot th,
    tbody th
      font-weight: 700
      border-top: 1px solid rgba(0, 0, 0, 0.1)

  table.my_account_orders
    font-size: 0.85em

    th,
    td
      padding: 4px 8px
      vertical-align: middle

    .button
      white-space: nowrap

    .order-actions
      text-align: right

      .button
        margin: 0.125em 0 0.125em 0.25em

  table.woocommerce-MyAccount-downloads
    td,
    th
      vertical-align: top
      text-align: center

      &:first-child
        text-align: left

      &:last-child
        text-align: left

      .woocommerce-MyAccount-downloads-file::before
        content: '\2193'
        display: inline-block

  td.product-name
    dl.variation, .wc-item-meta
      list-style: none outside

      dt, .wc-item-meta-label
        float: left
        clear: both
        margin-right: .25em
        display: inline-block
        list-style: none outside

      dd
        margin: 0

      p,
      &:last-child
        margin-bottom: 0

    p.backorder_notification
      font-size: 0.83em

  td.product-quantity
    min-width: 80px

  /**
  /** Cart sidebar
  ul.cart_list,
  ul.product_list_widget
    list-style: none outside
    padding: 0
    margin: 0

    li
      padding: 4px 0
      margin: 0

      +clearfix

      list-style: none

      a
        display: block
        font-weight: 700

      img
        float: right
        margin-left: 4px
        width: 32px
        height: auto
        box-shadow: none

      dl
        margin: 0
        padding-left: 1em
        border-left: 2px solid rgba(0, 0, 0, 0.1)

        +clearfix

        dt,
        dd
          display: inline-block
          float: left
          margin-bottom: 1em

        dt
          font-weight: 700
          padding: 0 0 0.25em
          margin: 0 4px 0 0
          clear: left

        dd
          padding: 0 0 0.25em

          p:last-child
            margin-bottom: 0

      .star-rating
        float: none

  &.widget_shopping_cart,
  .widget_shopping_cart
    .total
      border-top: 3px double $secondary
      padding: 4px 0 0

      strong
        min-width: 40px
        display: inline-block

    .cart_list li
      padding-left: 2em
      position: relative
      padding-top: 0

      a.remove
        position: absolute
        top: 0
        left: 0

    .buttons
      +clearfix

      a
        margin-right: 5px
        margin-bottom: 5px

  /**
  /** Forms
  form .form-row
    padding: 3px
    margin: 0 0 6px

    [placeholder]:focus::-webkit-input-placeholder
      transition: opacity 0.5s 0.5s ease
      opacity: 0

    label
      line-height: 2

    label.hidden
      visibility: hidden

    label.inline
      display: inline

    select
      cursor: pointer
      margin: 0

    .required
      color: red
      font-weight: 700
      border: 0

    .input-checkbox
      display: inline
      margin: -2px 8px 0 0
      text-align: center
      vertical-align: middle

    input.input-text,
    textarea
      box-sizing: border-box
      width: 100%
      margin: 0
      outline: 0
      line-height: 1

    textarea
      height: 4em
      line-height: 1.5
      display: block
      box-shadow: none

    .select2-container
      width: 100%
      line-height: 2em

    &.woocommerce-invalid
      label
        color: $red

      .select2-container,
      input.input-text,
      select
        border-color: $red

    &.woocommerce-validated
      .select2-container,
      input.input-text,
      select
        border-color: $green - #111

    \::-webkit-input-placeholder
      line-height: normal

    \:-moz-placeholder
      line-height: normal

    \:-ms-input-placeholder
      line-height: normal

  form.login,
  form.checkout_coupon,
  form.register
    @extend .card
    padding: 20px
    margin: 2em 0
    text-align: left

  ul#shipping_method
    list-style: none outside
    margin: 0
    padding: 0

    li
      margin: 0
      padding: 0.25em 0 0.25em 22px
      text-indent: -22px
      list-style: none outside

      input
        margin: 3px 0.5ex

      label
        display: inline

    .amount
      font-weight: 700

  p.woocommerce-shipping-contents
    margin: 0

  /**
  /** Order page
  ul.order_details
    +clearfix

    margin: 0 0 3em
    list-style: none

    li
      float: left
      margin-right: 2em
      text-transform: uppercase
      font-size: 0.715em
      line-height: 1
      border-right: 1px dashed darken($secondary, 10%)
      padding-right: 2em
      margin-left: 0
      padding-left: 0
      list-style-type: none

      strong
        display: block
        font-size: 1.4em
        text-transform: none
        line-height: 1.5

      &:last-of-type
        border: none

  .wc-bacs-bank-details-account-name
    font-weight: bold

  /**
  /** Layered nav widget
  .widget_layered_nav ul
    margin: 0
    padding: 0
    border: 0
    list-style: none outside

    li
      +clearfix

      padding: 0 0 1px
      list-style: none

      a,
      span
        padding: 1px 0

    li.chosen a::before
      +iconbefore("")

      color: $red

  .widget_layered_nav_filters ul
    margin: 0
    padding: 0
    border: 0
    list-style: none outside
    overflow: hidden
    zoom: 1

    li
      float: left
      padding: 0 1px 1px 0
      list-style: none

      a
        text-decoration: none

        &::before
          +iconbefore("")

          color: $red

  /**
  /** Price filter widget
  .widget_price_filter
    .price_slider
      margin-bottom: 1em

    .price_slider_amount
      text-align: right
      line-height: 2.4
      font-size: 0.8751em

      .button
        font-size: 1.15em
        float: left

    .ui-slider
      position: relative
      text-align: left
      margin-left: 0.5em
      margin-right: 0.5em

    .ui-slider .ui-slider-handle
      position: absolute
      z-index: 2
      width: 1em
      height: 1em
      background-color: $primary
      border-radius: 1em
      cursor: ew-resize
      outline: none
      top: -0.3em

      /* rtl:ignore
      margin-left: -0.5em

    .ui-slider .ui-slider-range
      position: absolute
      z-index: 1
      font-size: 0.7em
      display: block
      border: 0
      border-radius: 1em
      background-color: $primary

    .price_slider_wrapper .ui-widget-content
      border-radius: 1em
      background-color: $primary - #444
      border: 0

    .ui-slider-horizontal
      height: 0.5em

    .ui-slider-horizontal .ui-slider-range
      top: 0
      height: 100%

    .ui-slider-horizontal .ui-slider-range-min
      left: -1px

    .ui-slider-horizontal .ui-slider-range-max
      right: -1px

  /**
  /** Rating Filter Widget
  .widget_rating_filter ul
    margin: 0
    padding: 0
    border: 0
    list-style: none outside

    li
      +clearfix

      padding: 0 0 1px
      list-style: none

      a
        padding: 1px 0
        text-decoration: none

      .star-rating
        float: none
        display: inline-block

    li.chosen a::before
      +iconbefore("")

      color: $red

/**
/** Photoswipe
/** 1. These styles are required to overwrite default theme button styles (Twenty Twelve adds gradients via background-image).
/** 2. For zooming on mobile.
.pswp
  z-index: 999999

.woocommerce img.pswp__img,
.woocommerce-page img.pswp__img
  max-width: none

  /* 2

button.pswp__button
  box-shadow: none !important
  background-image: url("../../../images/photoswipe/default-skin/default-skin.png") !important

button.pswp__button,
button.pswp__button:hover,
button.pswp__button--arrow--left::before,
button.pswp__button--arrow--right::before
  background-color: transparent !important

  /* 1

button.pswp__button--arrow--left,
button.pswp__button--arrow--right,
button.pswp__button--arrow--left:hover,
button.pswp__button--arrow--right:hover
  background-image: none !important

  /* 1

button.pswp__button--close:hover
  background-position: 0 -44px

button.pswp__button--zoom:hover
  background-position: -88px 0

.woocommerce-message,
.woocommerce-error,
.woocommerce-info
  padding: 1em 2em 1em 3.5em
  margin: 0 0 2em
  position: relative
  background-color: lighten($secondary, 5%)
  color: $secondarytext
  border-top: 3px solid $primary
  list-style: none outside

  +clearfix

  width: auto
  word-wrap: break-word

  &::before
    font-family: 'WooCommerce'
    content: '\e028'
    display: inline-block
    position: absolute
    top: 1em
    left: 1.5em

  .button
    float: right

  li
    list-style: none outside !important

    // Required for default theme compatibility
    padding-left: 0 !important

    // Required for default theme compatibility
    margin-left: 0 !important

    // Required for default theme compatibility

/**
/** Right to left styles
.rtl.woocommerce div.product div.images .flex-control-thumbs li
  float: right

.woocommerce-message
  border-top-color: $green

  &::before
    content: '\e015'
    color: $green

.woocommerce-info
  border-top-color: $primary

  &::before
    color: $primary

.woocommerce-error
  border-top-color: $red

  &::before
    content: '\e016'
    color: $red

/**
/** Account page
.woocommerce-account
  .woocommerce
    +clearfix

  .addresses .title
    +clearfix

    h3
      float: left

    .edit
      float: right

  ol.commentlist.notes li.note
    p.meta
      font-weight: 700
      margin-bottom: 0

    .description p:last-child
      margin-bottom: 0

  ul.digital-downloads
    margin-left: 0
    padding-left: 0

    li
      list-style: none
      margin-left: 0
      padding-left: 0

      &::before
        +iconbefore("")

      .count
        float: right

/**
/** Cart/checkout page
.checkout.woocommerce-checkout
  @extend .card
  padding: 25px

.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method

  #order_review_heading
    clear: both

  table.cart
    .product-thumbnail
      min-width: 32px

    img
      width: 32px
      box-shadow: none

    th,
    td
      vertical-align: middle



    td.actions
      .coupon
        float: left
        margin-bottom: 6px

        label
          display: none

        .input-text
          float: left
          box-sizing: border-box
          border: 1px solid darken($secondary, 10%)
          padding: 6px 6px 5px
          margin: 0 4px 0 0
          outline: 0
          line-height: 1
          width: auto

      .button[name="update_cart"]
        float: right

    input
      margin: 0
      vertical-align: middle
      line-height: 1

  .wc-proceed-to-checkout
    +clearfix

    padding: 1em 0

    a.checkout-button
      display: block
      text-align: center
      margin-bottom: 1em
      font-size: 1.25em
      padding: 1em

  .cart-collaterals
    @include push(6 of 12)
    @include span(6 of 12 last)

    @include breakpoint($phone)
      @include push(0 of 12)
      @include span(12 of 12)

    .shipping_calculator
      .button
        width: 100%
        float: none
        display: block

      .shipping-calculator-button::after
        +iconafter("")

    .cart_totals
      p small
        color: $subtext
        font-size: 0.83em

      table
        border-collapse: separate
        margin: 0 0 6px
        padding: 0

        tr:first-child
          th,
          td
            border-top: 0

        th
          width: 40%

        td,
        th
          vertical-align: top
          border-left: 0
          border-right: 0
          line-height: 1.5em

        small
          color: $subtext

        select
          width: 100%

      .discount td
        color: $highlight

      tr td,
      tr th
        border-top: 1px solid $secondary

    .cross-sells ul.products li.product
      margin-top: 0

  .checkout
    .col-2
      h3#ship-to-different-address
        float: left
        clear: none

      .notes
        clear: left

      .form-row-first
        clear: left

    .create-account small
      font-size: 11px
      color: $subtext
      font-weight: normal

    div.shipping-address
      padding: 0
      clear: left
      width: 100%

    .shipping_address
      clear: both

  #payment
    background: $secondary
    border-radius: 5px

    ul.payment_methods
      +clearfix

      text-align: left
      padding: 1em
      border-bottom: 1px solid darken($secondary, 10%)
      margin: 0
      list-style: none outside

      li
        line-height: 2
        text-align: left
        margin: 0
        font-weight: normal

        input
          margin: 0 1em 0 0

        img
          vertical-align: middle
          margin: -2px 0 0 0.5em
          padding: 0
          position: relative
          box-shadow: none

        img + img
          margin-left: 2px

      li:not(.woocommerce-notice)
        +clearfix

    div.form-row
      padding: 1em

    div.payment_box
      position: relative
      box-sizing: border-box
      width: 100%
      padding: 1em
      margin: 1em 0
      font-size: 0.92em
      border-radius: 2px
      line-height: 1.5
      background-color: darken($secondary, 5%)
      color: $secondarytext

      input.input-text, textarea
        border-color: darken($secondary, 15%)
        border-top-color: darken($secondary, 20%)

      \::-webkit-input-placeholder
        color: darken($secondary, 20%)

      \:-moz-placeholder
        color: darken($secondary, 20%)

      \:-ms-input-placeholder
        color: darken($secondary, 20%)

      .woocommerce-SavedPaymentMethods
        list-style: none outside
        margin: 0

        .woocommerce-SavedPaymentMethods-token,
        .woocommerce-SavedPaymentMethods-new
          margin: 0 0 0.5em

          label
            cursor: pointer

        .woocommerce-SavedPaymentMethods-tokenInput
          vertical-align: middle
          margin: -3px 1em 0 0
          position: relative

      .wc-credit-card-form
        border: 0
        padding: 0
        margin: 1em 0 0

      .wc-credit-card-form-card-number,
      .wc-credit-card-form-card-expiry,
      .wc-credit-card-form-card-cvc
        font-size: 1.5em
        padding: 8px
        background-repeat: no-repeat
        background-position: right 0.618em center
        background-size: 32px 20px

        &.visa
          background-image: url("../../../images/woocommerce/icons/credit-cards/visa.svg")

        &.mastercard
          background-image: url("../../../images/woocommerce/icons/credit-cards/mastercard.svg")

        &.laser
          background-image: url("../../../images/woocommerce/icons/credit-cards/laser.svg")

        &.dinersclub
          background-image: url("../../../images/woocommerce/icons/credit-cards/diners.svg")

        &.maestro
          background-image: url("../../../images/woocommerce/icons/credit-cards/maestro.svg")

        &.jcb
          background-image: url("../../../images/woocommerce/icons/credit-cards/jcb.svg")

        &.amex
          background-image: url("../../../images/woocommerce/icons/credit-cards/amex.svg")

        &.discover
          background-image: url("../../../images/woocommerce/icons/credit-cards/discover.svg")

      span.help
        font-size: 0.857em
        color: $subtext
        font-weight: normal

      .form-row
        margin: 0 0 1em

      p:last-child
        margin-bottom: 0

      &::before
        content: ''
        display: block
        border: 1em solid darken($secondary, 5%)

        /* arrow size / color
        border-right-color: transparent
        border-left-color: transparent
        border-top-color: transparent
        position: absolute
        top: -0.75em
        left: 0
        margin: -1em 0 0 2em

    .payment_method_paypal
      .about_paypal
        float: right
        line-height: 52px
        font-size: 0.83em

      img
        max-height: 52px
        vertical-align: middle

.woocommerce-terms-and-conditions
  border: 1px solid rgba(0, 0, 0, 0.2)
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
  background: rgba(0, 0, 0, 0.05)

/**
/** Password strength meter
.woocommerce-password-strength
  text-align: center
  font-weight: 600
  padding: 3px 0.5em
  font-size: 1em

  &.strong
    background-color: #c1e1b9
    border-color: #83c373

  &.short
    background-color: #f1adad
    border-color: #e35b5b

  &.bad
    background-color: #fbc5a9
    border-color: #f78b53

  &.good
    background-color: #ffe399
    border-color: #ffc733

.woocommerce-password-hint
  margin: 0.5em 0 0
  display: block

.woocommerce-MyAccount-content
  @extend .card
  @include span(8 of 12 last)
  padding: 25px

  @include breakpoint($phone)
    @include span(12 of 12)

.woocommerce-MyAccount-navigation
  @extend .card
  @include span(4 of 12)

  @include breakpoint($phone)
    @include span(12 of 12)
    margin-bottom: 15px

  ul
    list-style: none
    padding: 0
    margin: 0

    li
      a
        padding: 10px 20px
        width: 100%
        text-decoration: none

        &:hover
          background-color: $almost-white

      &.is-active
        a
          color: white
          background-color: $blue

#customer_login, .woocommerce-ResetPassword
  @extend .card
  @include container
  padding: 50px

  form.login, form.register
    border: none
    padding: 0
